Django>=3.0.0
djangorestframework>=3.10.3
drf-yasg>=1.17.0
uwsgi>=2.0.18
pytest>=5.3.2
cryptography>=2.8
psycopg2>=2.8.4
pytest-mock>=1.13.0
websocket_client>=0.56.0
pika>=1.1.0
pymongo>=3.10.0
arctic>=1.79.3
